/* Загальні */

body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
    background-color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, 
ol {
    list-style-type: none;
}

button {
    cursor: pointer;
}

/* Header*/

.page-logo {
    font-family: "Raleway", sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.page-logo2 {
color: #4d5ae5;
}

.menu {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

/* Section 1 */

.section1 {
background: #2e2f42;
width: 1440px;
    height: 600px;
}

.s1-header {
font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.order-service-btn {

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
    border-radius: 4px;
        width: 169px;
        height: 56px;
        font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

/* Section 2 */

